{% extends "layouts/layout.html" %}
{% block body%}
<!-- main-area -->
        <main>

            <!-- breadcrumb-area -->
            <section class="breadcrumb-area breadcrumb-bg" data-background="static/assets/img/bg/imagebg.png">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="breadcrumb-content">
                                <h2 style="color: #ff5d0e;">About Our Story</h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page" style="color: white;">About Us</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- breadcrumb-area-end -->

            <!-- blog-area -->
            <section class="blog-area pt-100 pb-45">
                <div class="container">
                    <div class="row justify-content-center justify-content-md-start">
                        <div class="col-xl-4 col-lg-6 col-md-10 col-sm-9">
                            <div class="section-title text-center text-md-left title-style-three mb-40">
                                <span class="sub-title">latest updates</span>
                                <h2 class="title">Online shopping defined by Fashion</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 col-sm-9">
                            <div class="blog-post-item blog-post-style2 mb-50">
                                <div class="blog-post-thumb mb-25">
                                    <a href="blog-details.html"><img src="static/assets/img/blog/s_blog_thumb01.jpg" alt=""></a>
                                </div>
                                <div class="blog-post-content">
                                    <div class="blog-post-meta">
                                        <ul>
                                            <li><i class="far fa-user"></i>By <a href="#">Tomas Alexa</a></li>
                                            <li><i class="far fa-calendar-alt"></i> Mar 10, 2021</li>
                                        </ul>
                                    </div>
                                    <h3><a href="blog-details.html">The Greatest Thing World Belong</a></h3>
                                    <p>The purpose of lorem ipsum is create natural looking block of sentence doesn distract.</p>
                                    <a href="blog-details.html">Read More <span>+</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-9">
                            <div class="blog-post-item blog-post-style2 mb-50">
                                <div class="blog-post-thumb mb-25">
                                    <a href="blog-details.html"><img src="static/assets/img/blog/s_blog_thumb02.jpg" alt=""></a>
                                </div>
                                <div class="blog-post-content">
                                    <div class="blog-post-meta">
                                        <ul>
                                            <li><i class="far fa-user"></i>By <a href="#">Tomas Alexa</a></li>
                                            <li><i class="far fa-calendar-alt"></i> Mar 10, 2021</li>
                                        </ul>
                                    </div>
                                    <h3><a href="blog-details.html">The Greatest Thing World Belong</a></h3>
                                    <p>The purpose of lorem ipsum is create natural looking block of sentence doesn distract.</p>
                                    <a href="blog-details.html">Read More <span>+</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-9">
                            <div class="blog-post-item blog-post-style2 mb-50">
                                <div class="blog-post-thumb mb-25">
                                    <a href="blog-details.html"><img src="static/assets/img/blog/s_blog_thumb03.jpg" alt=""></a>
                                </div>
                                <div class="blog-post-content">
                                    <div class="blog-post-meta">
                                        <ul>
                                            <li><i class="far fa-user"></i>By <a href="#">Tomas Alexa</a></li>
                                            <li><i class="far fa-calendar-alt"></i> Mar 10, 2021</li>
                                        </ul>
                                    </div>
                                    <h3><a href="blog-details.html">The Greatest Thing World Belong</a></h3>
                                    <p>The purpose of lorem ipsum is create natural looking block of sentence doesn distract.</p>
                                    <a href="blog-details.html">Read More <span>+</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- blog-area-end -->

            
            <!-- exclusive-services -->
            <section class="exclusive-services pt-100 pb-100">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-md-8">
                            <div class="section-title text-center title-style-three mb-60">
                                <span class="sub-title">our services</span>
                                <h2 class="title">Exclusive Services</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row no-gutters justify-content-center">
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
                            <div class="ex-services-item text-center">
                                <div class="overlay-bg" data-background="img/images/ex_services_img.jpg"></div>
                                <div class="content">
                                    <i class="flaticon-customer-support"></i>
                                    <h5>24/7 Support</h5>
                                    <p>Lorem ipsum is placeholder commonly used in the graphic, print, and publishing industries for previewing</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
                            <div class="ex-services-item yellow text-center">
                                <div class="overlay-bg" data-background="img/images/ex_services_img.jpg"></div>
                                <div class="content">
                                    <i class="flaticon-debit-card"></i>
                                    <h5>Money Guarantee</h5>
                                    <p>Lorem ipsum is placeholder commonly used in the graphic, print, and publishing industries for previewing</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
                            <div class="ex-services-item text-center">
                                <div class="overlay-bg" data-background="img/images/ex_services_img.jpg"></div>
                                <div class="content">
                                    <i class="flaticon-recycle-sign"></i>
                                    <h5>Product Comparison</h5>
                                    <p>Lorem ipsum is placeholder commonly used in the graphic, print, and publishing industries for previewing</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
                            <div class="ex-services-item orange text-center">
                                <div class="overlay-bg" data-background="img/images/ex_services_img.jpg"></div>
                                <div class="content">
                                    <i class="flaticon-warehouse"></i>
                                    <h5>Store Warehouse</h5>
                                    <p>Lorem ipsum is placeholder commonly used in the graphic, print, and publishing industries for previewing</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
                            <div class="ex-services-item yellow text-center">
                                <div class="overlay-bg" data-background="img/images/ex_services_img.jpg"></div>
                                <div class="content">
                                    <i class="flaticon-truck"></i>
                                    <h5>On Time Delivery</h5>
                                    <p>Lorem ipsum is placeholder commonly used in the graphic, print, and publishing industries for previewing</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
                            <div class="ex-services-item text-center">
                                <div class="overlay-bg" data-background="img/images/ex_services_img.jpg"></div>
                                <div class="content">
                                    <i class="flaticon-box"></i>
                                    <h5>User Friendly Services</h5>
                                    <p>Lorem ipsum is placeholder commonly used in the graphic, print, and publishing industries for previewing</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
                            <div class="ex-services-item orange text-center">
                                <div class="overlay-bg" data-background="img/images/ex_services_img.jpg"></div>
                                <div class="content">
                                    <i class="flaticon-data"></i>
                                    <h5>Clean And Modern</h5>
                                    <p>Lorem ipsum is placeholder commonly used in the graphic, print, and publishing industries for previewing</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
                            <div class="ex-services-item text-center">
                                <div class="overlay-bg" data-background="img/images/ex_services_img.jpg"></div>
                                <div class="content">
                                    <i class="flaticon-balance"></i>
                                    <h5>100 Quality Products</h5>
                                    <p>Lorem ipsum is placeholder commonly used in the graphic, print, and publishing industries for previewing</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- exclusive-services-end -->

            <!-- newsletter-area -->
            <section class="newsletter-area pb-100">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="newsletter-bg newsletter-style-two" data-background="img/bg/newsletter_bg02.jpg">
                                <div class="newsletter-title mb-65">
                                    <h2 class="title">NEWSLETTER!</h2>
                                    <h6 class="sub-title">NEWSLETTER AND GET DISCOUNT 25% OFF</h6>
                                </div>
                                <form action="#" class="newsletter-form">
                                    <input type="email" placeholder="Your email address...">
                                    <button><span>Subscribe</span> <i class="far fa-arrow-alt-circle-right"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- newsletter-area-end -->

        </main>
        <!-- main-area-end -->


        {% endblock %}