{% extends "layouts/layout.html" %}

{% block body %}
        <!-- main-area -->
        <main>
            {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                                {{message}}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                            {% endfor %}
                            {% endif %}
                        {% endwith %}

            <!-- breadcrumb-area -->
            <section class="breadcrumb-area breadcrumb-bg" data-background="static/assets/img/bg/imagebg.png">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="breadcrumb-content">
                                <h2 style="color: #ff5d0e;">Contact Us</h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page" style="color: white;">Contact</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- breadcrumb-area-end -->

            <!-- contact-area -->
            <section class="contact-area pt-100 pb-100">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="contact-wrap">
                                <div class="section-title title-style-three mb-30">
                                    <span class="sub-title">Contact Us Now</span>
                                    <h2 class="title">Write a Message</h2>
                                </div>
                                <form action="/contact" method="post" class="contact-form">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input type="text" name="name" placeholder="Your Name *">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="email" name="email" placeholder="Your Email *">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" name="phone" placeholder="Your Phone">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" name="subject" placeholder="Subject">
                                        </div>
                                    </div>
                                    <textarea name="message" placeholder="Your Message"></textarea>
                                    <button type="submit" class="btn">Submit</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-7">
                            <aside class="contact-sidebar">
                                <div class="widget">
                                    <!-- <div class="contact-sidebar-img mb-20">
                                        <img src="/static/assets/img/images/contact_img.jpg" alt="">
                                    </div> -->
                                </div>
                                <div class="widget">
                                    <div class="contact-info-wrap">
                                        <ul>
                                            <li>
                                                <div class="icon"><i class="flaticon-phone-call"></i></div>
                                                <div class="content">
                                                    <h5>Phone</h5>
                                                    <p><a href="tel:0321654987">+9 444 652 0000</a></p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon"><i class="flaticon-email"></i></div>
                                                <div class="content">
                                                    <h5>Email</h5>
                                                    <p><a href="mailto:adara@info.com">adara@info.com</a></p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon"><i class="flaticon-place"></i></div>
                                                <div class="content">
                                                    <h5>Address</h5>
                                                    <p>71W Park lan Broklyn Street, <br>
                                                    New York. United States</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </section>
            <!-- contact-area-end -->

            <!-- contact-map -->
            <div id="contact-map"></div>
            <!-- contact-map-end -->

        </main>
        <!-- main-area-end -->


        {% endblock %}